# Framework da API
fastapi~=0.111.0
uvicorn[standard]~=0.30.1
python-multipart~=0.0.9

# OCR e suas dependências
paddleocr==2.7.3
paddlepaddle==2.5.2 
# Usamos versões específicas que sabemos serem compatíveis com a CPU

# Banco de Dados
psycopg2-binary~=2.9.9

# Outras dependências do seu util.py
numpy~=1.24.3
opencv-python~=4.7.0.72